
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    border: 1px solid #ff0000; 
}

body{
    margin: 0;
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 300;
    font-size: 1rem; 
    color: whitesmoke; 
    min-height: 100%;

    background-color: #344E41;
}

html{
    scroll-behavior: smooth;
}

/* NavBar Menu Container */

#navbarbox{
    width: 100%;
    height: 3.5rem;

    justify-content: left;
    display: flex; 
    overflow: hidden;
    background-color: #344E41;
}


button {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 300;
    background-color: #344E41;
    color: whitesmoke;

    white-space: nowrap;
    cursor: pointer;
}

.open{
    background-color: #588157;
}

button:hover{
    background-color: #A3B18A;
}

#NavBar.logo {
    background-color: #344E41;
    margin-right: -5rem;
}

#NavBar .logo:hover{
    background-color: #344E41;
}

.logo button{
    font-size: 2.5rem;
}
/* Hamburger Optional Container W/ Switch */

#NavBar{
    height: 3.5rem;
    background-color: #344E41;

    display:flex;
    align-items: center;

    margin-left: -5rem;
    padding: .5rem 10%; 


    top: 0; 
    transition: 0.4s;
    position: sticky;
}

#NavBar .logo{
    margin-left: auto;
    margin-right: -3rem;
}

.logo{
    font-size: 2.25rem;
}

.hamburgerlines div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: bold;
    flex-direction: column;

    width: 40px; 
    height: 7px; 
    background-color: whitesmoke;
    margin: 5px 0;
    transition: 0.4s;

    margin-left: 4rem;
}

#phoneMenu{
    margin: 0; 
    padding: 0;
    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.5s;

    display: none;

}

#phoneMenu ul {
    margin: 0;
    padding: 0;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    list-style: none;

    display:flex;
    flex-direction: column;
}

#phoneMenu ul li a{
    padding: 10px;
    display: inline-block;
    font-family: verdana;
    font-size: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;

    margin-bottom: 2rem;
}

#phoneMenu ul li a:hover{
    background: #588157;
}

#phoneMenu.active{
    left: 0;
    overflow: auto;
}

.exitMenu h1{
    color: whitesmoke;
    padding-left: 5%;
    font-size: 4rem;
    font-style: bold;
}

.exitMenu h1:hover{
    cursor: pointer;
}

.checkbox {
    display: none;
}

@media screen and (max-width:900px){

    #navbarbox{
        display: none;
    }

    .logo{
        font-size: 2.25rem;
    }
    
    .checkbox{
        display: contents;
    }

    #NavBar{
        justify-content: center;
        align-items: center;

    }
}

/* Landing Container CSS */

#landingContainer{
    width: 100%;
    height: 50rem;

    display: flex;

    background-color: #496D5B;
}


.landingLeft{
    width: 50%;
    height: 45rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 2rem;

    animation: fadeIn 3s;
}

.profilePhoto img{
    width: 500px;
    height: 500px;
}

.socialLogos{
    margin-top: 1rem;
}

.socialLogos a{
    text-decoration: none;
}

.landingRight {
    width: 50%;
    height: 45rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 2rem;
}

.introText{
    max-width: 40rem;
}

.descText{
    max-width: 40rem;
    margin-top: 3rem;
}

.nextPage{
    max-width: 40rem;
    margin-top: 3rem;
}

.nextPage:hover{
    color: #A3B18A;
    cursor: pointer;
}


@media screen and (max-width:900px){
    #landingContainer{
        flex-direction: column;
        align-items: center;

        height: 65rem;
    }

    .landingRight{
        margin-left:2rem;
        margin-top: -5rem;

        width:fit-content;
    }

    .landingRight div{
        
        display: flex;
        align-items: flex-start;
        justify-content: left;

    }

    .landingLeft{
        margin: 0;
        width: fit-content;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profilePhoto img{
        width: 400px;
        height: 400px;
    }
    
}

/* Programming Container */

#programmingContainer{
    width: 100%;
    height: 70rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #6B9D84;
}

#progProjContainer{
    margin-top: 2rem;
    width: 80%; 
}

.project{
    display:flex;
    flex-direction: row;

    margin-bottom: 4rem;
    margin-top: 2rem;

    gap: 1rem;

    height: 15rem;

    animation: fadeIn 3s; 
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.tiles{
    background-color: #517a66;
}

.projLeft{
    width: 50%;
    min-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projRight{
    width: 50%;
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progButton{
    margin-top: 1rem;
}

.projTitle{
    margin-top: -2rem;
}

.titleCard h1{
    margin-top: 4rem;
    font-size: 3rem;
}

.t1{
    background: url('./img/portfolioProjPic.png') no-repeat;
    background-size: cover;
    display:block;
}

@media screen and (max-width:900px){
}
